#head{
    background-color: rgb(3, 3, 20);
}

.card{
    background-color: rgb(110, 153, 202);
    color: white;
    border-radius: 10px;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    margin-right: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.9s;

}

.card:hover {
    transform: scale(1.04);
}

.card1 {
    background-color: rgb(165, 110, 202);
    color: rgb(12, 11, 11);
    border-radius: auto;
    padding-left: auto;
    margin-right: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.9s;
}

.card1:hover {
    transform: scale(1.09);
}

.container {
    background-color: rgb(248, 250, 250);
   display: grid;
   grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
