.yellow{
    background-color: rgb(255, 251, 0);
    color: rgb(153, 22, 22);
    font-size: 2em;
    text-align: center;

}
.pink{
    background-color: rgb(255, 0, 179);
    text-align: center;
    
}

.blue{
    background-color: rgb(0, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    text-align: center;
}
.con-borde {
         border: 2px solid black;