.cuadrado {
  width: 200px;
  height: 200px;
  background-color: rgb(64, 207, 20);
  border-radius: 100px;
  margin: 20px auto;
  transition: all 0.9s ease;
}

.redondo {
  width: 800px;
  height: 50px;
  background-color: rgb(68, 223, 21);
  border-radius: 10px;
}
