body {
  font-family: sans-serif;
  background: #4f4f50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contenedor {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow:  4px 10px rgba(8, 1, 1, 0.795);
  text-align: center;
}

#frase {
    font-size: 100%;

}

#boton {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

#boton:hover {
  background-color: #0306c2de;
  transition: background-color 0.5s ease;
  box-shadow:  2px 4px rgba(43, 41, 41, 0.952);
  color: black;

}
